*

!app/
!assets/
!components/
!hooks/
!lib/
!public/
!styles/

!games/
games/*/node_modules/
games/*/dist/

!biome.json
!bun.lock
!components.json
!next.config.mjs
!package.json
!package-lock.json*
!postcss.config.mjs
!tsconfig.json
